extend ../layout

block content
    h1#head Registration
    h2 Please enter user information
    if (error && error != "")
        .alert.alert-danger(role="alert") #{error}
    if (message && message != "")
        .alert.alert-success(role="alert") #{message}

    form(method="post")
        .form-group
            label(for="email")
                b Email
            input.form-control(type="email", placeholder="Enter Email", name="email", required)
        .form-group
            label(for="password")
                b Password
            input.form-control(type="password", placeholder="Enter Password", name="password", required)
        .form-group
            label(for="repeatPassword")
                b Repeat Password
            input.form-control(type="password", placeholder="Repeat Password", name="repeatPassword", required)
        .form-group
            label(for="name")
                b Name
            input.form-control(type="text", placeholder="Enter Name", name="name", required)

        
        button.btn.btn-primary(type="submit") Sign Up
        button.btn.pull-right(type="button") Cancel