extend ../layout

block content
    h1#head User Authentication
    hr
    
    form(method="post")
        .form-group
            label(for="username") Username:
            input.form-control(type="text", name="username")
        .form-group
            label(for="password") Password:
            input.form-control(type="password", name="password")
        input.btn.btn-primary(type="submit", value="Log In")