doctype
html
  head
    title Activity Tracker 
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin='anonymous')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Activity Tracker
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home
            if login
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false", href="#")
                  | Activities 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/activities/create") Create
          ul.nav.navbar-nav.navbar-right
            li
              if login
                li.dropdown
                  a.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false", href="#")
                    | #{user.name} 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/account/logout") Log Out
              else
                a(href="/account/login") Log In
    .container
      .main-content
        block content
    footer
      nav.navbar.navbar-default.navbar-fixed-bottom
        .container
          .navbar-header
            span.navbar-brand(href="/") © 2017 - NJ Avengers - CS546
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin='anonymous')