extend ../layout
block header
    h1#head Create Activity
    h2 Please enter activity information

block content
    form(method="post")
        .form-group
            label(for="actName")
                b Activity
            input.form-control(type="text", placeholder="Enter Activity Name", name="actName", required)
        .form-group
            label(for="actDescription")
                b Activity Description
            input.form-control(type="text", placeholder="Enter Activity Description", name="actDescription", required)
        .form-group
            label(for="startTime")
                b Start Time
            input.form-control(type="datetime-local", placeholder="Enter Start Time", name="startTime", required)


        .form-group
            label(for="endTime", required)
                b End Time
                p If This activity has not yet occurred, provide an estimated end time. This can be updated later.
            input.form-control(type="datetime-local", placeholder="Enter End Time", name="endTime")

        .form-group
            label(for="actLocation")
                b Location
            input.form-control(type="text", placeholder="Enter Start Time", name="actLocation")
                

    

        .form-group
            label(for="notes")
                b Notes
            textarea.form-control(name="notes")
                

        button.btn(type="button") Cancel
        button.btn.btn-primary(type="submit") Submit