extend ../layout

block content
    h1#head Create Activity

    hr

    include ../partial/form.jade
                
    button.btn(type="button") Cancel
    button.btn.btn-primary(type="submit") Submit