extend ../layout

block content
    .jumbotron
        if !login
            h1 Welcome to Activity Tracker!
            p Activity Tracker is exactly that, a way to create and track your activities. Sign up or log in to try today!
            a.btn.btn-primary.btn-lg.btn-margin(href="/account/create") Sign Up!
            a.btn.btn-primary.btn-lg.btn-margin.pull-right(href="/account/login") Log In!
        else
            h1 Welcome to Activity Tracker!
            p View your activities or create an activity today!
            if(my_list)
                div
                  h3 Activities for Today
                  for name in my_list
                    div.card
                      li 
                        a(href="/activities/details/#{name._id}") #{name.name} 
                        b start: #{name.start_time}
                        form(method="post")
                            .form-group
                                label(for="name")
                                input.form-control(type="hidden", name="actid", required, value= name._id)
                                button.btn.btn-primary.btn-margin(type="submit") Start Activity
            else
                h3 No Activities today
            a.btn.btn-primary.btn-lg.btn-margin(href="/activities/calendar") View Activities
            a.btn.btn-primary.btn-lg.btn-margin.pull-right(href="/activities/create") Create
