extend ../layout

block content
    .jumbotron
        h1 Welcome to Activity Tracker!
        p Activity Tracker is exactly that, a way to create and track your activities. Sign up or log in to try today!
        a.btn.btn-primary.btn-lg(href="/account/create") Sign Up!
        a.btn.btn-primary.btn-lg.pull-right(href="/account/login") Log In!