extend ../layout

block content
    .jumbotron
        if !login
            h1 Welcome to Activity Tracker!
            p Activity Tracker is exactly that, a way to create and track your activities. Sign up or log in to try today!
            a.btn.btn-primary.btn-lg(href="/account/create") Sign Up!
            a.btn.btn-primary.btn-lg.pull-right(href="/account/login") Log In!
        else
            h1 Welcome to Activity Tracker!
            p View your activities or create an activity today!
            a.btn.btn-primary.btn-lg(href="#") View Activities
            a.btn.btn-primary.btn-lg.pull-right(href="/activities/create") Create