extend ../layout

block content
    .jumbotron
        if !login
            h1 Welcome to Activity Tracker!
            p Activity Tracker is exactly that, a way to create and track your activities. Sign up or log in to try today!
            a.btn.btn-primary.btn-lg(href="/account/create") Sign Up!
            a.btn.btn-primary.btn-lg.pull-right(href="/account/login") Log In!
        else
            h1 Welcome to Activity Tracker!
            p View your activities or create an activity today!
            if(my_list.length)
                div
                  h3 Today's Activities
                  for name in my_list
                    div.card
                      h4= name
            else
                h4 No Activities today
            a.btn.btn-primary.btn-lg(href="/activities/calendar") View Activities
            a.btn.btn-primary.btn-lg.pull-right(href="/activities/create") Create