extend ../layout

block content
    .jumbotron
        if !login
            h1 Welcome to Activity Tracker!
            p Activity Tracker is exactly that, a way to create and track your activities. Sign up or log in to try today!
            a.btn.btn-primary.btn-lg.btn-margin(href="/account/create") Sign Up!
            a.btn.btn-primary.btn-lg.btn-margin.pull-right(href="/account/login") Log In!
        else
            h1 Welcome to Activity Tracker!
            p View your activities or create an activity today!
            hr
            if(my_list)
                div
                    h3 Activities for Today
                    ul.list-group
                    for name in my_list
                        li.list-group-item
                            p
                                a(href="/activities/details/#{name._id}") #{name.name} 
                                form(method="post")
                                    input.form-control(type="hidden", name="actid", required, value= name._id)
                                    button.btn.btn-primary.pull-right(type="submit") Start Activity
                            p
                                b Start Time: #{name.start_time}
            else
                h3 No Activities today
            a.btn.btn-primary.btn-lg.btn-margin(href="/activities/calendar") View Activities
            a.btn.btn-primary.btn-lg.btn-margin.pull-right(href="/activities/create") Create
